@{
    ViewBag.Title = "Steezy";
}

<div class="section">
    <h2>I Love to Shred on the Slopes</h2>
    <p>Skiing is where I hit my stride, the ultimate blend of chill vibes and raw adrenaline. When I'm out there, it's all about the flow — dropping into a backflip feels like flipping the script on gravity itself. It's not just a move; it's a statement. And when I stick the landing, it's like the mountain and I are in sync. Shredding isn't just about tearing it up; it's an art form. Carving down slopes, I'm all about that smooth, effortless style that makes it look like I'm part of the mountain itself. Skiing is my zone, where steeze and passion collide. It's not just a hobby; it's the way I express my take on the winter world — laid back, yet full of fire.</p>
</div>

<div class="section">
    <h3>The Art of Shredding</h3>
    <p>It’s not just about speed; it’s about laying down those smooth, stylish lines and making it look effortless. Carving through fresh powder, every turn feels like I'm painting my signature across the mountain. Skiing, for me, is that ultimate expression of style and skill – it’s where I can be bold, creative, and totally in my element. It's more than just a passion; it's the way I express myself, a dance with gravity and nature that never gets old. Every time I click into my skis, it's about chasing that next level steeze, making every run an opportunity to up my game.</p>
</div>

<div class="section">
    <img src="~/images/skiing1.jpeg" alt="Hobby Image 1" class="img-responsive" height="200"/>
    <img src="~/images/skiing2.jpeg" alt="Hobby Image 2" class="img-responsive" height="200" />
</div>

